<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <p>
    <strong>Post:</strong>
      <%= post.title %>
    </p>

    <p>
      <%= post.body %>
    </p>

    <% if member_signed_in? %>
      <%= post.member.email %>
    <% end %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>